.talent-directory-hero {
	position: relative;
}

.talent-directory-hero img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

.talent-directory-hero .section-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}

.talent-directory-hero .section-content h2 {
	font-size: 48px;
	line-height: 55px;
	margin: 0 0 15px;
	color: #fff;
	font-weight: 400;
}

.talent-directory-hero .section-content p {
	font-size: 14px;
	line-height: 25px;
	color: #d8d2ec;
	font-weight: 400;
	display: block;
	margin: 0 0 30px;
}

.talent-directory {
	padding: 60px 0;
	background: #f4f7fa;
}

.talent-directory .talent-item {
	text-align: center;
	padding: 40px 30px;
	border: 1px solid #b7b7b7;
	margin: 0 0 30px;
	height: 625px;
}

.talent-directory .talent-item .profile-img {
	width: 165px;
	height: 165px;
	border-radius: 100%;
	margin: 0 auto 30px;
	overflow: hidden;
	display: block;
}

.talent-directory .talent-item h3 {
	margin: 0 0 10px;
	font-size: 24px;
	font-weight: 400;
}

.talent-directory .talent-item h3 a {
	color: #0d0d0d;
}

.talent-directory .talent-item span {
	margin: 0 0 20px;
	font-size: 16px;
	font-weight: 400;
	color: #7b7b7b;
	display: inline-block;
}

.talent-directory .talent-item p {
	margin: 0 0 15px;
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	color: #0d0d0d;
	text-align: left;
}

.talent-directory .talent-item ul {
	list-style: none;
	padding: 0;
	margin: 0 0 30px;
	text-align: left;
}

.talent-directory .talent-item ul li {
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	color: #0d0d0d;
}

.talent-directory .talent-item .primary-btn {
	padding: 15px 65px;
}

.talent-directory .talent-item ul li strong {
	font-weight: 400;
	color: #0f5af2;
	margin: 0 0 0 10px;
}

.team-img {
	position: relative;
}
.team-img img {
	width: 100%;
	transition: 0.3s;
}
.team-text-inner-content {
	height: 450px;
}
.team-wrapper:hover .team-img img {
	transform: scale(1.1);
}

.team-02-icon {
	bottom: -22px;
	position: absolute;
	right: 25px;
	transition: 0.3s;
}

.inner-team-icon > a {
	background: #ea5822;
	color: white;
	font-size: 16px;
	height: 45px;
	width: 45px;
	display: inline-block;
	line-height: 46px;
	text-align: center;
	position: relative;
}

.team-icon {
	text-align: center;
	transition: 0.3s;
	padding: 8px 6px;
	opacity: 0;
	background: white;
	width: 45px;
	transform: translateY(55px);
	margin-bottom: -1px;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
.team-icon > a {
	font-size: 13px;
	transition: 0.3s;
	height: 33px;
	width: 33px;
	display: inline-block;
	text-align: center;
	line-height: 33px;
	border-radius: 50%;
	color: white;
	margin-bottom: 6px;
}
.team-icon > a:hover {
	color: white;
	background: #ea5822;
}
.team-icon > a:last-child {
	margin-bottom: 0;
}

.team-02-icon:hover .team-icon {
	opacity: 1;
	transform: translateY(0);
}

.team-text {
	background: white;
	padding: 35px 45px 30px 35px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.team-text {
		padding: 35px 15px 30px 15px;
	}
}
.team-text h4 {
	font-size: 22px;
	line-height: 1;
	margin-bottom: 4px;
}
.team-text span {
	color: #708389;
	font-size: 15px;
	font-weight: 500;
}

.team-meta {
	border-top: 1px solid #e2e2e2;
	margin-top: 16px;
	padding-top: 22px;
}
.team-meta span {
	font-size: 15px;
	color: #708389;
	font-weight: 400;
}
.team-meta span i {
	color: #ea5822;
	padding-right: 5px;
}

.google {
	background: #ff0000;
}

.fb {
	background: #24a1ff;
}

.twitter {
	background: #f7bb00;
}

.team-area-02 {
	height: 881px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.team-area-02 {
		height: 100%;
	}
}
@media (max-width: 767px) {
	.team-area-02 {
		height: 100%;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.team-area-02 {
		height: 100%;
	}
}
.team-area-02::before {
	content: "";
	position: absolute;
	background: #000846;
	opacity: 0.9;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.team-area-02 .section-title {
	position: relative;
	z-index: 2;
}

.team-wrapper-02 {
	position: relative;
	z-index: 2;
}
.team-wrapper-02 .team-text {
	background-color: transparent;
	position: absolute;
	bottom: -66px;
	padding: 0;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
	z-index: 1;
}
.team-wrapper-02 .team-text::before {
	content: "";
	position: absolute;
	top: -7px;
	right: -7px;
	border-style: solid;
	border-width: 40px 40px 40px 40px;
	border-color: #ea5822 #ea5822 transparent transparent;
	z-index: -1;
}
.team-wrapper-02 .team-text h5 {
	font-size: 20px;
	margin-bottom: 7px;
}
.team-wrapper-02 .team-text span {
	color: #ea5822;
	display: inline-block;
	margin-bottom: 10px;
}
.team-wrapper-02 .team-text .team-text-inner-content {
	padding: 27px 45px 15px 30px;
	background: white;
	position: relative;
	z-index: 3;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.team-wrapper-02 .team-text .team-text-inner-content {
		padding: 15px 15px 15px 15px;
	}
}
.team-wrapper-02:hover .team-icons {
	padding: 10px 0;
	opacity: 1;
	visibility: visible;
	margin-top: 0;
	height: auto;
}
.team-wrapper-02:hover .team-icons a {
	transform: scale(1);
}

.team-icons {
	opacity: 0;
	visibility: hidden;
	height: 0;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
.team-icons a {
	color: white;
	font-size: 13px;
	width: 35px;
	height: 35px;
	display: inline-block;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
}

.team-wrapper-03 {
	border: 1px solid #e2e2e2;
}

.author-about-content {
	padding: 55px 70px 0 60px;
	height: 475px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.author-about-content {
		padding: 55px 30px 0 30px;
	}
}
@media (max-width: 767px) {
	.author-about-content {
		padding: 55px 15px 0 15px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.author-about-content {
		padding: 55px 15px 0 15px;
	}
}
.author-about-content h3 {
	font-size: 35px;
	margin-bottom: 25px;
}

.count-wrapper-4 {
	background: transparent;
	box-shadow: none;
}

.authors-area .team-text {
	padding: 25px 45px 30px 35px;
}

@media (max-width: 767px) {
	.authors-area .team-text {
		padding: 25px 15px 30px 15px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.authors-area .team-text {
		padding: 25px 15px 30px 15px;
	}
}

.team-media {
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	right: 10px;
}
.team-media .team-social {
	max-width: 127px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
.team-media .team-social a {
	background: #24a1ff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 45px;
	margin: 3px;
}
.team-media .team-social a:nth-child(2) {
	background-color: #f7bb00;
}
.team-media .team-social a:nth-child(3) {
	background-color: #ff0000;
}
.team-media .team-social a i {
	color: white;
	font-size: 15px;
}

.achivment-area {
	padding: 55px 60px 60px 60px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.achivment-area {
		padding: 55px 45px 60px 45px;
	}
}
@media (max-width: 767px) {
	.achivment-area {
		padding: 55px 15px 60px 15px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.achivment-area {
		padding: 55px 15px 60px 15px;
	}
}
.achivment-area h3 {
	font-size: 30px;
	margin-bottom: 21px;
}
.achivment-area p {
	margin-bottom: 25px;
}
.achivment-area .certificate-img img {
	width: 100%;
}
@media (max-width: 767px) {
	.achivment-area .certificate-img img {
		margin-bottom: 15px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.achivment-area .certificate-img img {
		margin-bottom: 15px;
	}
}

.team-skill {
	padding: 55px 60px 74px 60px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.team-skill {
		padding: 55px 30px 74px 30px;
	}
}
@media (max-width: 767px) {
	.team-skill {
		padding: 55px 15px 74px 15px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.team-skill {
		padding: 55px 15px 74px 15px;
	}
}
.team-skill .institute-area h3 {
	font-size: 30px;
	margin-bottom: 22px;
}
.team-skill .institute-area .institute-list {
	overflow: hidden;
}
.team-skill .institute-area .institute-list li {
	width: 50%;
	float: left;
}
@media (max-width: 767px) {
	.team-skill .institute-area .institute-list li {
		float: none;
		width: 100%;
	}
}

.college-name .col-icon {
	margin-right: 10px;
}
.college-name .col-icon i {
	font-size: 30px;
	line-height: 1;
	color: #ea5822;
}
