/* FOOTER BAR */
.footer-bar {
	width: 100%;
	float: left;
	background: #383c4a;
	padding: 50px 0;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-bar figure {
	width: 40px;
	float: left;
	margin-bottom: 0;
	margin-right: 15px;
}
.footer-bar figure img {
	width: 100%;
}
.footer-bar h4 {
	font-size: 16px;
	margin-top: 4px;
	margin-bottom: 1px;
	font-family: "Fjalla One";
	color: #fff;
}
.footer-bar address {
	display: block;
	font-size: 12px;
	font-weight: 300;
	margin: 0;
}

/* FOOTER */
.footer {
	width: 100%;
	float: left;
	background: #383c4a;
	color: #fff;
	padding: 50px 0;
	text-align: center;
}
.footer .logo {
	height: 50px;
	margin-bottom: 20px;
}
.footer p {
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 10px;
}
.footer ul {
	display: inline-block;
	margin: 10px 0;
	padding: 0;
}
.footer li {
	float: left;
	margin-left: 20px;
	padding: 0;
	list-style: none;
}
.footer li a {
	color: #fff;
	font-size: 12px;
	font-weight: 600;
}
.footer small {
	display: block;
}

/* RESPONSIVE TABLET FIXES */
@media only screen and (max-width: 991px),
	only screen and (max-device-width: 991px) {
	.footer-bar address {
		margin: 15px;
	}
}
/* RESPONSIVE MOBILE FIXES */
@media only screen and (max-width: 767px),
	only screen and (max-device-width: 767px) {
	.footer-bar {
		text-align: center;
	}
	.footer-bar figure {
		display: none;
	}
	.footer {
		padding-top: 60px;
	}
}
