.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "roboto";
	color: #062a35;
	margin-top: 0px;
	font-style: normal;
	font-weight: 700;
	text-transform: normal;
	line-height: 1.1;
}

.fix {
	overflow: hidden;
}

.clear {
	clear: both;
}

.pos-abl {
	position: absolute;
}

.grey-bg {
	background: #eaf4f7;
}

.grey-soft-bg {
	background: #6e838a;
}

.white-bg {
	background: white;
}

.black-bg {
	background: #062a35;
}

.black-bg {
	background: #062a35;
}

.black-soft-bg {
	background: #333333;
}

.theme-bg {
	background: #0f5af2;
}

.theme-bg2 {
	background: #3662ff;
}

.blue-dark-bg {
	background: #0e1851;
}

.blue-dark-bg2 {
	background: #000846;
}

.blue-soft-bg3 {
	background: #1a245d;
}

.white-color {
	color: white;
}

.black-color {
	color: #062a35;
}

.theme-color {
	color: #0f5af2;
}

/*-- Margin Top --*/
.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-35 {
	margin-top: 35px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-55 {
	margin-top: 55px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-65 {
	margin-top: 65px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-75 {
	margin-top: 75px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-85 {
	margin-top: 85px;
}

.mt-90 {
	margin-top: 90px;
}

.mt-95 {
	margin-top: 95px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-105 {
	margin-top: 105px;
}

.mt-110 {
	margin-top: 110px;
}

.mt-115 {
	margin-top: 115px;
}

.mt-120 {
	margin-top: 120px;
}

.mt-125 {
	margin-top: 125px;
}

.mt-130 {
	margin-top: 130px;
}

.mt-135 {
	margin-top: 135px;
}

.mt-140 {
	margin-top: 140px;
}

.mt-145 {
	margin-top: 145px;
}

.mt-150 {
	margin-top: 150px;
}

.mt-155 {
	margin-top: 155px;
}

.mt-160 {
	margin-top: 160px;
}

.mt-165 {
	margin-top: 165px;
}

.mt-170 {
	margin-top: 170px;
}

.mt-175 {
	margin-top: 175px;
}

.mt-180 {
	margin-top: 180px;
}

.mt-185 {
	margin-top: 185px;
}

.mt-190 {
	margin-top: 190px;
}

.mt-195 {
	margin-top: 195px;
}

.mt-200 {
	margin-top: 200px;
}

/*-- Margin Bottom --*/
.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-55 {
	margin-bottom: 55px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-65 {
	margin-bottom: 65px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-75 {
	margin-bottom: 75px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-85 {
	margin-bottom: 85px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mb-95 {
	margin-bottom: 95px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-105 {
	margin-bottom: 105px;
}

.mb-110 {
	margin-bottom: 110px;
}

.mb-115 {
	margin-bottom: 115px;
}

.mb-120 {
	margin-bottom: 120px;
}

.mb-125 {
	margin-bottom: 125px;
}

.mb-130 {
	margin-bottom: 130px;
}

.mb-135 {
	margin-bottom: 135px;
}

.mb-140 {
	margin-bottom: 140px;
}

.mb-145 {
	margin-bottom: 145px;
}

.mb-150 {
	margin-bottom: 150px;
}

.mb-155 {
	margin-bottom: 155px;
}

.mb-160 {
	margin-bottom: 160px;
}

.mb-165 {
	margin-bottom: 165px;
}

.mb-170 {
	margin-bottom: 170px;
}

.mb-175 {
	margin-bottom: 175px;
}

.mb-180 {
	margin-bottom: 180px;
}

.mb-185 {
	margin-bottom: 185px;
}

.mb-190 {
	margin-bottom: 190px;
}

.mb-195 {
	margin-bottom: 195px;
}

.mb-200 {
	margin-bottom: 200px;
}

.mb-205 {
	margin-bottom: 205px;
}

.mb-210 {
	margin-bottom: 210px;
}

.mb-215 {
	margin-bottom: 215px;
}

.mb-220 {
	margin-bottom: 220px;
}

.mb-225 {
	margin-bottom: 225px;
}

.mb-230 {
	margin-bottom: 230px;
}

.mb-235 {
	margin-bottom: 235px;
}

.mb-240 {
	margin-bottom: 240px;
}

.mb-245 {
	margin-bottom: 245px;
}

.mb-250 {
	margin-bottom: 250px;
}

.mb-255 {
	margin-bottom: 255px;
}

.mb-260 {
	margin-bottom: 260px;
}

.mb-265 {
	margin-bottom: 265px;
}

.mb-270 {
	margin-bottom: 270px;
}

.mb-275 {
	margin-bottom: 275px;
}

.mb-280 {
	margin-bottom: 280px;
}

.mb-285 {
	margin-bottom: 285px;
}

.mb-290 {
	margin-bottom: 290px;
}

.mb-295 {
	margin-bottom: 295px;
}

.mb-300 {
	margin-bottom: 300px;
}

/*-- Margin Left --*/
.ml-5 {
	margin-left: 5px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-15 {
	margin-left: 15px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-25 {
	margin-left: 25px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-35 {
	margin-left: 35px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-45 {
	margin-left: 45px;
}

.ml-50 {
	margin-left: 50px;
}

.ml-55 {
	margin-left: 55px;
}

.ml-60 {
	margin-left: 60px;
}

.ml-65 {
	margin-left: 65px;
}

.ml-70 {
	margin-left: 70px;
}

.ml-75 {
	margin-left: 75px;
}

.ml-80 {
	margin-left: 80px;
}

.ml-85 {
	margin-left: 85px;
}

.ml-90 {
	margin-left: 90px;
}

.ml-95 {
	margin-left: 95px;
}

.ml-100 {
	margin-left: 100px;
}

.ml-105 {
	margin-left: 105px;
}

.ml-110 {
	margin-left: 110px;
}

.ml-115 {
	margin-left: 115px;
}

.ml-120 {
	margin-left: 120px;
}

.ml-125 {
	margin-left: 125px;
}

.ml-130 {
	margin-left: 130px;
}

.ml-135 {
	margin-left: 135px;
}

.ml-140 {
	margin-left: 140px;
}

.ml-145 {
	margin-left: 145px;
}

.ml-150 {
	margin-left: 150px;
}

.ml-155 {
	margin-left: 155px;
}

.ml-160 {
	margin-left: 160px;
}

.ml-165 {
	margin-left: 165px;
}

.ml-170 {
	margin-left: 170px;
}

.ml-175 {
	margin-left: 175px;
}

.ml-180 {
	margin-left: 180px;
}

.ml-185 {
	margin-left: 185px;
}

.ml-190 {
	margin-left: 190px;
}

.ml-195 {
	margin-left: 195px;
}

.ml-200 {
	margin-left: 200px;
}

/*-- Margin Right --*/
.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-15 {
	margin-right: 15px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-25 {
	margin-right: 25px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-35 {
	margin-right: 35px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-45 {
	margin-right: 45px;
}

.mr-50 {
	margin-right: 50px;
}

.mr-55 {
	margin-right: 55px;
}

.mr-60 {
	margin-right: 60px;
}

.mr-65 {
	margin-right: 65px;
}

.mr-70 {
	margin-right: 70px;
}

.mr-75 {
	margin-right: 75px;
}

.mr-80 {
	margin-right: 80px;
}

.mr-85 {
	margin-right: 85px;
}

.mr-90 {
	margin-right: 90px;
}

.mr-95 {
	margin-right: 95px;
}

.mr-100 {
	margin-right: 100px;
}

.mr-105 {
	margin-right: 105px;
}

.mr-110 {
	margin-right: 110px;
}

.mr-115 {
	margin-right: 115px;
}

.mr-120 {
	margin-right: 120px;
}

.mr-125 {
	margin-right: 125px;
}

.mr-130 {
	margin-right: 130px;
}

.mr-135 {
	margin-right: 135px;
}

.mr-140 {
	margin-right: 140px;
}

.mr-145 {
	margin-right: 145px;
}

.mr-150 {
	margin-right: 150px;
}

.mr-155 {
	margin-right: 155px;
}

.mr-160 {
	margin-right: 160px;
}

.mr-165 {
	margin-right: 165px;
}

.mr-170 {
	margin-right: 170px;
}

.mr-175 {
	margin-right: 175px;
}

.mr-180 {
	margin-right: 180px;
}

.mr-185 {
	margin-right: 185px;
}

.mr-190 {
	margin-right: 190px;
}

.mr-195 {
	margin-right: 195px;
}

.mr-200 {
	margin-right: 200px;
}

/*-- Padding Top --*/
.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-25 {
	padding-top: 25px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-35 {
	padding-top: 35px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-45 {
	padding-top: 45px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-55 {
	padding-top: 55px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-65 {
	padding-top: 65px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-75 {
	padding-top: 75px;
}

.pt-80 {
	padding-top: 80px;
}

.pt-85 {
	padding-top: 85px;
}

.pt-90 {
	padding-top: 90px;
}

.pt-95 {
	padding-top: 95px;
}

.pt-100 {
	padding-top: 100px;
}

.pt-105 {
	padding-top: 105px;
}

.pt-110 {
	padding-top: 110px;
}

.pt-115 {
	padding-top: 115px;
}

.pt-120 {
	padding-top: 120px;
}

.pt-125 {
	padding-top: 125px;
}

.pt-130 {
	padding-top: 130px;
}

.pt-135 {
	padding-top: 135px;
}

.pt-140 {
	padding-top: 140px;
}

.pt-145 {
	padding-top: 145px;
}

.pt-150 {
	padding-top: 150px;
}

.pt-155 {
	padding-top: 155px;
}

.pt-160 {
	padding-top: 160px;
}

.pt-165 {
	padding-top: 165px;
}

.pt-170 {
	padding-top: 170px;
}

.pt-175 {
	padding-top: 175px;
}

.pt-180 {
	padding-top: 180px;
}

.pt-185 {
	padding-top: 185px;
}

.pt-190 {
	padding-top: 190px;
}

.pt-195 {
	padding-top: 195px;
}

.pt-200 {
	padding-top: 200px;
}

.pt-205 {
	padding-top: 205px;
}

.pt-210 {
	padding-top: 210px;
}

.pt-215 {
	padding-top: 215px;
}

.pt-220 {
	padding-top: 220px;
}

.pt-225 {
	padding-top: 225px;
}

.pt-230 {
	padding-top: 230px;
}

.pt-235 {
	padding-top: 235px;
}

.pt-240 {
	padding-top: 240px;
}

.pt-245 {
	padding-top: 245px;
}

.pt-250 {
	padding-top: 250px;
}

.pt-255 {
	padding-top: 255px;
}

.pt-260 {
	padding-top: 260px;
}

.pt-265 {
	padding-top: 265px;
}

.pt-270 {
	padding-top: 270px;
}

.pt-275 {
	padding-top: 275px;
}

.pt-280 {
	padding-top: 280px;
}

.pt-285 {
	padding-top: 285px;
}

.pt-290 {
	padding-top: 290px;
}

.pt-295 {
	padding-top: 295px;
}

.pt-300 {
	padding-top: 300px;
}

/*-- Padding Bottom --*/
.pb-5 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-25 {
	padding-bottom: 25px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-35 {
	padding-bottom: 35px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-45 {
	padding-bottom: 45px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-55 {
	padding-bottom: 55px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pb-65 {
	padding-bottom: 65px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pb-75 {
	padding-bottom: 75px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pb-85 {
	padding-bottom: 85px;
}

.pb-90 {
	padding-bottom: 90px;
}

.pb-95 {
	padding-bottom: 95px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-105 {
	padding-bottom: 105px;
}

.pb-110 {
	padding-bottom: 110px;
}

.pb-115 {
	padding-bottom: 115px;
}

.pb-120 {
	padding-bottom: 120px;
}

.pb-125 {
	padding-bottom: 125px;
}

.pb-130 {
	padding-bottom: 130px;
}

.pb-135 {
	padding-bottom: 135px;
}

.pb-140 {
	padding-bottom: 140px;
}

.pb-145 {
	padding-bottom: 145px;
}

.pb-150 {
	padding-bottom: 150px;
}

.pb-155 {
	padding-bottom: 155px;
}

.pb-160 {
	padding-bottom: 160px;
}

.pb-165 {
	padding-bottom: 165px;
}

.pb-170 {
	padding-bottom: 170px;
}

.pb-175 {
	padding-bottom: 175px;
}

.pb-180 {
	padding-bottom: 180px;
}

.pb-185 {
	padding-bottom: 185px;
}

.pb-190 {
	padding-bottom: 190px;
}

.pb-195 {
	padding-bottom: 195px;
}

.pb-200 {
	padding-bottom: 200px;
}

.pb-205 {
	padding-bottom: 205px;
}

.pb-210 {
	padding-bottom: 210px;
}

.pb-215 {
	padding-bottom: 215px;
}

.pb-220 {
	padding-bottom: 220px;
}

.pb-225 {
	padding-bottom: 225px;
}

.pb-230 {
	padding-bottom: 230px;
}

.pb-235 {
	padding-bottom: 235px;
}

.pb-240 {
	padding-bottom: 240px;
}

.pb-245 {
	padding-bottom: 245px;
}

.pb-250 {
	padding-bottom: 250px;
}

.pb-255 {
	padding-bottom: 255px;
}

.pb-260 {
	padding-bottom: 260px;
}

.pb-265 {
	padding-bottom: 265px;
}

.pb-270 {
	padding-bottom: 270px;
}

.pb-275 {
	padding-bottom: 275px;
}

.pb-280 {
	padding-bottom: 280px;
}

.pb-285 {
	padding-bottom: 285px;
}

.pb-290 {
	padding-bottom: 290px;
}

.pb-295 {
	padding-bottom: 295px;
}

.pb-300 {
	padding-bottom: 300px;
}

/*-- Padding Left --*/
.pl-5 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-15 {
	padding-left: 15px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-25 {
	padding-left: 25px;
}

.pl-30 {
	padding-left: 30px;
}

.pl-35 {
	padding-left: 35px;
}

.pl-40 {
	padding-left: 40px;
}

.pl-45 {
	padding-left: 45px;
}

.pl-50 {
	padding-left: 50px;
}

.pl-55 {
	padding-left: 55px;
}

.pl-60 {
	padding-left: 60px;
}

.pl-65 {
	padding-left: 65px;
}

.pl-70 {
	padding-left: 70px;
}

.pl-75 {
	padding-left: 75px;
}

.pl-80 {
	padding-left: 80px;
}

.pl-85 {
	padding-left: 85px;
}

.pl-90 {
	padding-left: 90px;
}

.pl-95 {
	padding-left: 95px;
}

.pl-100 {
	padding-left: 100px;
}

.pl-105 {
	padding-left: 105px;
}

.pl-110 {
	padding-left: 110px;
}

.pl-115 {
	padding-left: 115px;
}

.pl-120 {
	padding-left: 120px;
}

.pl-125 {
	padding-left: 125px;
}

.pl-130 {
	padding-left: 130px;
}

.pl-135 {
	padding-left: 135px;
}

.pl-140 {
	padding-left: 140px;
}

.pl-145 {
	padding-left: 145px;
}

.pl-150 {
	padding-left: 150px;
}

.pl-155 {
	padding-left: 155px;
}

.pl-160 {
	padding-left: 160px;
}

.pl-165 {
	padding-left: 165px;
}

.pl-170 {
	padding-left: 170px;
}

.pl-175 {
	padding-left: 175px;
}

.pl-180 {
	padding-left: 180px;
}

.pl-185 {
	padding-left: 185px;
}

.pl-190 {
	padding-left: 190px;
}

.pl-195 {
	padding-left: 195px;
}

.pl-200 {
	padding-left: 200px;
}

/*-- Padding Right --*/
.pr-5 {
	padding-right: 5px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-15 {
	padding-right: 15px;
}

.pr-20 {
	padding-right: 20px;
}

.pr-25 {
	padding-right: 25px;
}

.pr-30 {
	padding-right: 30px;
}

.pr-35 {
	padding-right: 35px;
}

.pr-40 {
	padding-right: 40px;
}

.pr-45 {
	padding-right: 45px;
}

.pr-50 {
	padding-right: 50px;
}

.pr-55 {
	padding-right: 55px;
}

.pr-60 {
	padding-right: 60px;
}

.pr-65 {
	padding-right: 65px;
}

.pr-70 {
	padding-right: 70px;
}

.pr-75 {
	padding-right: 75px;
}

.pr-80 {
	padding-right: 80px;
}

.pr-85 {
	padding-right: 85px;
}

.pr-90 {
	padding-right: 90px;
}

.pr-95 {
	padding-right: 95px;
}

.pr-100 {
	padding-right: 100px;
}

.pr-105 {
	padding-right: 105px;
}

.pr-110 {
	padding-right: 110px;
}

.pr-115 {
	padding-right: 115px;
}

.pr-120 {
	padding-right: 120px;
}

.pr-125 {
	padding-right: 125px;
}

.pr-130 {
	padding-right: 130px;
}

.pr-135 {
	padding-right: 135px;
}

.pr-140 {
	padding-right: 140px;
}

.pr-145 {
	padding-right: 145px;
}

.pr-150 {
	padding-right: 150px;
}

.pr-155 {
	padding-right: 155px;
}

.pr-160 {
	padding-right: 160px;
}

.pr-165 {
	padding-right: 165px;
}

.pr-170 {
	padding-right: 170px;
}

.pr-175 {
	padding-right: 175px;
}

.pr-180 {
	padding-right: 180px;
}

.pr-185 {
	padding-right: 185px;
}

.pr-190 {
	padding-right: 190px;
}

.pr-195 {
	padding-right: 195px;
}

.pr-200 {
	padding-right: 200px;
}

/* 5. course */
.course-cat-img {
	position: relative;
}
.course-cat-img a {
	display: block;
	overflow: hidden;
}
.course-cat-img a img {
	width: 100%;
	transition: 0.3s;
}

.course-cat-wrapper:hover .course-cat-img img {
	transform: scale(1.1);
}

.course-cat-text {
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	padding: 31px 20px 28px 32px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.course-cat-text {
		padding: 31px 5px 28px 5px;
	}
}
.course-cat-text h4 {
	font-size: 22px;
	margin-bottom: 8px;
	letter-spacing: -0.3px;
}
.course-cat-text h4 a {
	transition: 0.3s;
}
.course-cat-text h4 a:hover {
	color: #0f5af2;
}
.course-cat-text h4 > span {
	color: #708389;
	font-size: 15px;
	font-weight: 400;
}

.course-cat-meta {
	padding-top: 8px;
}
.course-cat-meta span {
	margin-right: 19px;
}
.course-cat-meta span:last-child {
	margin-right: 0;
}
.course-cat-meta span > a {
	font-size: 15px;
	color: #708389;
	font-weight: 400;
	position: relative;
}
.course-cat-meta span i {
	margin-right: 3px;
	color: #0f5af2;
}

.course__instructor {
	justify-content: space-between;
	width: 100%;
	bottom: 30px;
	padding: 0 35px 0 35px;
	z-index: 2;
}
.course__instructor--thumb img {
	display: inline-block;
	margin-right: 10px;
}
.course__instructor--thumb h5 {
	color: white;
	font-size: 20px;
	display: inline-block;
}
.course__instructor--price-tag span {
	color: white;
	font-size: 13px;
	line-height: 22px;
	font-weight: 700;
	background: #0f5af2;
	display: inline-block;
	padding: 6px 14px;
	border-radius: 30px;
}

.course-text {
	padding: 0 35px 30px 35px;
}
.course-text .course-cat-meta span a {
	color: white;
	font-size: 13px;
	font-weight: 700;
	font-family: "roboto";
	background: #4582ff;
	display: inline-block;
	padding: 6px 15px;
	border-radius: 30px;
	line-height: 1;
}
.course-text .course-cat-meta .review-icon a {
	display: inline-block;
	margin-right: 0 3px;
}
.course-text .course-cat-meta .review-icon a i {
	color: #0f5af2;
	font-size: 12px;
}
.course-text .semi-title {
	border-bottom: 1px solid #e2e2e2;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
	font-family: "Poppins";
	font-size: 25px;
}
.course-text .course-meta span:nth-child(2) {
	margin: 0 45px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.course-text .course-meta span:nth-child(2) {
		margin: 0 35px;
	}
}
@media (max-width: 767px) {
	.course-text .course-meta span:nth-child(2) {
		margin: 0 35px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.course-text .course-meta span:nth-child(2) {
		margin: 0 35px;
	}
}
.course-text .course-meta span i {
	color: #0f5af2;
}
.course-text p {
	font-family: "Poppins";
	font-size: 14px;
}
.course-wrapper {
	position: relative;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
	height: 400px;
}
.course-wrapper .course-img a {
	overflow: hidden;
	display: block;
	position: relative;
}
.course-wrapper .course-img a::before {
	content: "";
	background-image: -moz-linear-gradient(
		90deg,
		#062a35 0%,
		rgba(11, 40, 52, 0.5) 34%,
		rgba(12, 39, 52, 0.43) 43%,
		rgba(17, 36, 51, 0) 100%
	);
	background-image: -webkit-linear-gradient(
		90deg,
		#062a35 0%,
		rgba(11, 40, 52, 0.5) 34%,
		rgba(12, 39, 52, 0.43) 43%,
		rgba(17, 36, 51, 0) 100%
	);
	background-image: -ms-linear-gradient(
		90deg,
		#062a35 0%,
		rgba(11, 40, 52, 0.5) 34%,
		rgba(12, 39, 52, 0.43) 43%,
		rgba(17, 36, 51, 0) 100%
	);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.course-wrapper .course-img a img {
	display: block;
	width: 100%;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
.course-wrapper:hover .course-img img {
	transform: scale(1.1);
}
.course-wrapper:hover .course-inner {
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.course-wrapper:hover .course-text-02 {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}

.course-text-02 {
	padding: 35px 40px 35px 40px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -1px;
	transform: scale(0.6);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	z-index: 3;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.course-text-02 {
		padding: 15px 15px 15px 15px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.course-text-02 {
		padding: 15px 15px 15px 15px;
	}
}
@media (max-width: 767px) {
	.course-text-02 {
		padding: 15px 15px 15px 15px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.course-text-02 {
		padding: 15px 15px 15px 15px;
	}
}
.course-text-02:hover .semi-title {
	color: white;
}
.course-text-02 .course-cat-meta span a {
	text-transform: uppercase;
	background: white;
	color: #0f5af2;
	letter-spacing: normal;
}
.course-text-02 .course-cat-meta .review-icon a {
	color: white;
}
.course-text-02 .semi-title {
	color: white;
	border-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.course-text-02 .semi-title {
		font-size: 20px;
	}
}
.course-text-02 .course__instructor {
	padding: 0;
}
.course-text-02 p {
	color: white;
}
.course-text-02 a.c-btn {
	color: #0f5af2;
	background: white;
	border-color: white;
	padding: 13px 22px;
	display: inline-block;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.course-text-02 a.c-btn {
		margin-bottom: 25px;
	}
}
.course-text-02 a.c-btn:hover {
	color: white;
	background: transparent;
}
.course-text-02 .course-meta span i {
	color: white;
}
.course-text-02 .course-meta span a {
	color: white;
}

.course-text-02 .course__instructor {
	padding: 0;
}
.course-text-02 .course__instructor--price-tag span {
	text-transform: uppercase;
	background: white;
	color: #0f5af2;
	letter-spacing: normal;
}

.course-btn a.c-btn {
	border-color: #417b8d;
	color: #417b8d;
}
.course-btn a.c-btn:hover {
	color: white;
	border-color: #0f5af2;
}

.course-cat-02-text {
	border: 0;
	padding: 49px 0 30px 0;
	position: relative;
	z-index: 3;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
.course-cat-02-text .course-icon i {
	color: #3662ff;
	font-size: 50px;
	line-height: 1;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
.course-cat-02-text h4 a {
	color: white;
}
.course-cat-02-text span {
	color: white;
	font-size: 15px;
	line-height: 1;
	font-family: "hind";
	display: inline-block;
	margin-bottom: 15px;
}
.course-cat-02-text .arrow-btn {
	color: #0f5af2;
	font-size: 25px;
	display: inline-block;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.cat-wrapper-02 {
	position: relative;
	border: 1px solid #4f4d80;
}
@media (max-width: 767px) {
	.cat-wrapper-02 {
		border: 0;
	}
}
.cat-wrapper-02 .course-cat-img {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	margin: 0 auto;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.cat-wrapper-02 .course-cat-img {
		height: 90%;
		width: 90%;
	}
}
@media (max-width: 767px) {
	.cat-wrapper-02 .course-cat-img {
		display: none;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.cat-wrapper-02 .course-cat-img {
		display: none;
	}
}
.cat-wrapper-02 .course-cat-img a {
	overflow: visible;
	position: relative;
	display: block;
	top: -5px;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
.cat-wrapper-02 .course-cat-img a::before {
	content: "";
	border-radius: 14px;
	background-color: #0c41ff;
	opacity: 0.929;
	box-shadow: 0px 10px 60px 0px rgba(54, 98, 255, 0.4);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.cat-wrapper-02 .course-cat-img a img {
	border-radius: 14px;
}
.cat-wrapper-02:hover {
	border: 0;
}
.cat-wrapper-02:hover .course-cat-img {
	opacity: 1;
	visibility: visible;
}
.cat-wrapper-02:hover .course-cat-img a {
	transform: scale(1.1);
}
.cat-wrapper-02:hover .course-cat-02-text {
	border: 0;
}
.cat-wrapper-02:hover .course-cat-02-text .course-icon i {
	color: white;
}
.cat-wrapper-02:hover .course-cat-02-text .arrow-btn {
	color: white;
}

.course-img-02 .course__instructor--price-tag span {
	font-size: 20px;
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 45px;
	display: inline-block;
	position: absolute;
	right: 20px;
	bottom: -46px;
}

.course-text-inner {
	padding: 0 25px 20px 25px;
}
.course-text-inner .course-cat-meta span a {
	text-transform: uppercase;
	padding: 5px 16px;
}
.course-text-inner h5 a {
	font-size: 18px;
}
.course-text-inner .course-meta span:nth-child(2) {
	margin: 0 36px;
}
.course-text-inner .course-meta span a {
	font-size: 15px;
	font-weight: 500;
	font-family: "roboto";
}

.course-text-02.course-text-inner {
	padding-top: 15px;
}
.course-text-02.course-text-inner .course-cat-meta span a {
	color: #3662ff;
}
.course-text-02.course-text-inner .review-icon a i {
	color: white;
}
.course-text-02.course-text-inner .course__instructor--price-tag span {
	color: #3662ff;
	font-size: 20px;
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 45px;
	display: inline-block;
	background: white;
}
.course-text-02.course-text-inner a.btn-round-02 {
	color: #3662ff;
	background: white;
}

.portfolio-menu-02 {
	border: 0 !important;
}
@media (max-width: 767px) {
	.portfolio-menu-02 {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.portfolio-menu-02 {
		padding-left: 0;
		padding-right: 0;
	}
}
.portfolio-menu-02 button {
	background: none;
	color: #8d94c7 !important;
	font-size: 18px;
	line-height: 1;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	text-transform: capitalize;
	font-weight: 600;
	position: relative;
	padding: 5px 9px !important;
	font-family: "hind";
	margin: 0;
	border-radius: 30px;
	display: inline-block;
}
.portfolio-menu-02 button.active {
	color: white !important;
	background: #0f5af2;
}
.portfolio-menu-02 button::before {
	display: none;
}

.course-wrapper-02 {
	border: 1px solid #e2e2e2;
}

.course-inner-02 .course-text .course-cat-meta span {
	text-transform: uppercase;
}
.course-inner-02 .course-text .course-cat-meta span .violet {
	background-color: #7b1fff;
}
.course-inner-02 .course-text .course-cat-meta span .orange {
	background-color: #0f5af2;
}

.course-wrapper-03 {
	border: 1px solid #e2e2e2;
}

.video-learn-area .skill-thumb img {
	width: 100%;
}
.video-learn-area .video-area .popup-video {
	width: 80px;
	height: 60px;
	border-radius: 5px;
	line-height: 60px;
	background: #ec1f1f;
}
.video-learn-area .video-area .popup-video i {
	color: white;
}

.improve-skill-area .review-icon {
	margin-bottom: 10px;
}
.improve-skill-area .review-icon a {
	color: #0f5af2;
	font-size: 12px;
	line-height: 1;
}

.course-title-03 {
	font-size: 30px;
}

.curriculumn-list li {
	border-top: 1px solid #ebebeb;
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-ms-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
.curriculumn-list li:last-child {
	border-bottom: 1px solid #ebebeb;
}
.curriculumn-list li a {
	color: #062a35;
	font-size: 15px;
	font-family: "roboto";
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.3px;
	display: block;
	padding: 23px 30px;
}
@media (max-width: 767px) {
	.curriculumn-list li a {
		font-size: 15px;
		padding: 23px 0px;
	}
}
.curriculumn-list li a span {
	color: #708389;
	font-size: 15px;
	font-family: "hind";
	line-height: 1;
	font-weight: 500;
}
.curriculumn-list li a span i {
	color: #0f5af2;
	font-size: 15px;
	margin-right: 10px;
}
@media (max-width: 767px) {
	.curriculumn-list li a span {
		display: none;
	}
}
.curriculumn-list li:hover {
	background: #eaf4f7;
}

.instructors {
	border: 1px solid #ebebeb;
	padding: 60px 0 55px 0;
}
.instructors .instructors-name span {
	font-size: 15px;
	font-family: "hind";
	font-weight: 500;
	line-height: 1;
	color: #708389;
}

.widget-course-list {
	padding: 13px 43px 7px 43px;
}
.widget-course-list li {
	border-bottom: 1px solid #ebebeb;
}
.widget-course-list li:last-child {
	border-bottom: 0;
}
.widget-course-list li a {
	color: #062a35;
	font-size: 16px;
	font-family: "roboto";
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.3px;
	display: block;
	padding: 30px 0;
}
.widget-course-list li a span {
	color: #0f5af2;
}
.widget-course-list li a i {
	color: #0f5af2;
}

.widget {
	border: 2px solid #ebebeb;
}
.widget .enroll-btn a.c-btn {
	background: #3662ff;
	padding: 22px 45px;
}
.widget .enroll-btn a.c-btn:hover {
	background: #0f5af2;
}

.widget-advertisement img {
	width: 100%;
}

.courses-bg {
	padding: 55px 115px 90px 115px;
	margin-right: 250px;
	margin-left: 250px;
}
@media only screen and (min-width: 1601px) and (max-width: 1800px) {
	.courses-bg {
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.courses-bg {
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.courses-bg {
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.courses-bg {
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
	}
}
@media (max-width: 767px) {
	.courses-bg {
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.courses-bg {
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
	}
}
.courses-bg h3 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 27px;
}

/* 10. btn */
.c-btn {
	backface-visibility: hidden;
	color: #062a35;
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	padding: 22px 36px;
	position: relative;
	text-align: center;
	transition: 0.3s;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px solid #dddddd;
	font-family: "roboto";
}
.c-btn i {
	font-size: 16px;
	padding-left: 12px;
}
.c-btn:hover {
	color: white;
	border-color: #0f5af2;
	background: #0f5af2;
}

.btn-theme {
	background: #0f5af2;
	color: white;
	transition: 0.3s;
	border: none;
}
.btn-theme:hover {
	background: #062a35;
	color: white;
}

.btn-white {
	background: white;
	color: #062a35;
	transition: 0.3s;
	border: none;
	padding: 23px 36px;
}
.btn-white:hover {
	background: #0f5af2;
	color: white;
}

.btn-round {
	background: transparent;
	border-radius: 30px;
	border-color: #4f4d80;
	display: inline-block;
	color: white;
	padding: 14px 30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.btn-round {
		padding: 12px 10px;
	}
}
.btn-round i {
	margin-right: 5px;
}
.btn-round:hover {
	background: #3662ff;
	border-color: #3662ff;
}
.btn-round.active {
	background: #3662ff;
	border-color: #3662ff;
}
.btn-round.active:hover {
	background: transparent;
	border-color: #4f4d80;
}

.popup-video {
	color: #0f5af2;
	font-size: 12px;
	display: inline-block;
	position: absolute;
	background: white;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
	border-radius: 50%;
	animation: pulseBig infinite 4s linear;
	z-index: 7;
}

.btn-round-02 {
	color: white;
	background: #0f5af2;
	border: transparent;
	display: inline-block;
	border-radius: 30px;
}
.btn-round-02:hover {
	background: #3662ff;
}

.btn-blue-style {
	color: white;
	border-radius: 40px;
	background: #3662ff !important;
	display: inline-block;
	padding: 21px 40px;
	line-height: 1;
	border: none;
}
.btn-blue-style:hover {
	background-color: #0f5af2 !important;
	border: transparent;
}
