
.tab-list {
  border-bottom: 1px solid black;
  padding-left: 0;
  font-weight: 700;
  background-color:   #72bcd4;;
   
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
.home{
  margin-top: 500px;
}