body {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	font-weight: 100;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	background-image: linear-gradient(120deg, #2193b0 0%, #6dd5ed 100%);
}
body * {
	-webkit-overflow-scrolling: touch;
}
h1,
h2,
h3,
h4,
h5 {
	color: #3e3d3d;
	font-weight: 100;
	font-size: 3.4em;
	margin-bottom: 0.3em;
	line-height: normal;
}
p {
	color: #3e3d3d;
	line-height: normal;
	word-spacing: normal;
	letter-spacing: normal;
}
.testimonial-wrapper {
	text-align: center;
}
.testimonial-wrapper h2 {
	font-weight: 700;
	color: #fff;
	font-size: 1.8rem;
	padding: 10vh 10% 35vh;
	text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}
.testimonial-wrapper h2 em {
	display: block;
	font-weight: 400;
	font-size: 0.85rem;
	letter-spacing: 0.3rem;
}
.testimonial-list {
	background-color: #fff;
	border-radius: 0.5rem;
	margin: -32vh auto 0;
	width: 55%;
	white-space: nowrap;
	overflow: hidden;
	box-shadow: 0 0.8rem 2rem -0.07rem rgba(0, 0, 0, 0.2);
}
.bullet-list {
	text-align: center;
	margin: 2rem 0 0;
}
.bullet-item {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	position: relative;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	margin: 0 0.5rem;
	width: 2.5rem;
	height: 6px;
	border-radius: 50%;
	border: 1px solid #d1d1d1;
	background: #d9d9d9;
	cursor: pointer;
	border-radius: 0.4rem;
}
.bullet-item::before {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: #f36b21;
	height: 100%;
	width: 0;
	border-radius: 0.4rem;
}
.bullet-item.selected::before,
.bullet-item:hover::before {
	border: 1px solid #ff7d37;
	box-shadow: 0 0 0.8rem -0.07rem #ff5a00;
}
.bullet-item.selected::before,
.bullet-item:hover::before {
	width: 100%;
}
@media only screen and (max-device-width: 767px) {
	.testimonial-item {
		padding: 5rem 10% 3rem;
		width: 80%;
	}
}
